
@{
    ViewBag.Title = "About";
}

<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Indie+Flower">
<br/><br/><br/><br/><br/><body2>About Anti-Social</body2>


<div class="row content">
    <div class="col-md-6 col-sm-6">
    <p><body-about><br/><br/> With Anti-Social, it's easy to block those distractive apps that keep us from being productive!</body-about></p>

        <p><body-about><br/>Don’t feel bad. We, like you, have succumbed to the temptation that is social media. We’re just a group of five students, 
            normal folks such as yourself, who got bored in our introduction to software engineering class. Instead of listening to the verbose lectures, 
            we decided to log onto Facebook, Twitter, etc. to see what the outside world was up to while we were stuck in class. So, when we were 
            asked to develop a piece of software, we knew exactly what we would create: an app that forces us to focus on the task at hand by denying 
            access to the temptations of social media. </body-about></p>

        <p><body-about><br/>Even though the app is called "Anti-Social", you have the ability to block any app that's installed on your device.
            Start by choosing a profile you'd like to edit. Next, select the settings gear to see a list of the apps and choose
            the apps you'd like to block. Finally, tap the lock icon to begin blocking. At the tap of a button, you're off to productivity!</body-about></p>
    </div>
    
    <div class="col-md-offset-8">
    <p><body-about><br/><br/><bodysocial>Get Social with Us!</bodysocial></body-about></p>
        <p>
        <ul>
            <li><bodycontact>Questions? </bodycontact><body-about>If you have questions about how to use the app, visit our <seconda>frequently asked questions</seconda> page.</body-about></li>
            <br/><li><bodycontact>Suggestions? </bodycontact><body-about>If we're missing a feature you'd like to see added, fill out our <seconda>suggestion form</seconda>.</body-about></li>
            <br/><li><bodycontact>Comments? </bodycontact><body-about>Let us know what you think! Just send an e-mail to <a href="mailto:webmaster@example.com">webmaster@example.com</a>.</body-about></li>
        </ul>
    </div>
</div>