<div class="jumbotron">
        <h1>AntiSocial</h1>
        <p class="lead">Want to pick up your peaceful life? 
        <br>Want to free yourself from endless messages? </br>
        <br><h2>AntiSocial is all what you need.</h2></br></p>
        <p><a class="btn btn-primary btn-lg">Down load &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Image 1</h2>
    </div>
    <div class="col-md-4">
        <p class="bg-danger">
            <h2>
                Can't concentrate?
                <br>Cell phone's so annoying?</br>
            </h2>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Image 2</h2>
    </div>
</div> 

    <div class="row">
        <div class="col-md-6">
            <h2>Image 3</h2>
        </div>
        <div class="col-md-6">
            <h2>Image 4</h2>
        </div>
        <div class="col-md-6 col-md-offset-6">
            <h2>Learn more</h2>
            <p>
                AntiSocial is an app works on Android platform, it can block all apps you put in the list. If you can't help opening one of
                the apps you have blocked, there will be an embarrassed punishment. Well, you can try, but a friendly suggestion, don't try it
                in class (;
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>Join Us!</h1>
            <p>
                Enjoy your time, escape from the annoying world for a while.
            </p>
            <p><a class="btn btn-primary btn-lg">Down load &raquo;</a></p>
        </div>
    </div>


