body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.big-font{
    font-size:30px;
}


@font-face {
    font-family: 'Indie Flower';
    src: local('Indie Flower'), url('http://fonts.googleapis.com/css?family=Indie+Flower'), format('truetype');
}
body2 {
    font-family: 'Indie Flower', cursive;
    font-size: 48px;
    font-weight: bold;
    line-height: 40px;
    color: #33CCFF; 
    text-shadow: 2px 2px 2px #aaa;
}

body-about {
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 16px;
     text-align: justify;
     text-justify: inter-word;
}

bodysocial {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    color: #33CCFF; 
    text-shadow: 1px 1px 1px #aaa;
}

bodycontact {
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 16px;
     font-weight: bold;
     text-align: justify;
     color: #33CCFF;
}

 a.logo {
     background: url(http://i20.photobucket.com/albums/b219/babyimpurej0y/e36bc0ad-f85e-4255-a6a1-4cd7cf34c9d2.png) no-repeat top left;
     display: block;
     width: 140px;
     height: 42px;
     text-indent: -9999px; /* hides the link text */
}

 a.logo2 {
     background: url(http://i20.photobucket.com/albums/b219/babyimpurej0y/95077278-14c8-4151-af6f-a614f72e6683.png) no-repeat top left;
     display: block;
     width: 140px;
     height: 42px;
     text-indent: -9999px; /* hides the link text */
}

 seconda {
  color: #33E0FF;
  text-decoration: none;
}

 seconda:hover {
    color: #33E0F0;
    text-decoration: underline;
    cursor: pointer;
}

 a[href^="mailto:"] { 
  color: #33E0FF;
  text-decoration: none;
}

 a:hover {
    color: #33E0F0;
    text-decoration: underline;
    cursor: pointer;
}

 left {
     text-align: left;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 16px;
     color: #33CCFF;
 }

 left:hover {
     color: #33EOF0;
     text-decoration: underline;
     cursor: pointer;
 }


.text1{
    font-family :'Indie Flower', cursive ;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    color: #33CCFF;
    text-shadow: 2px 2px 2px #aaa;
}

.text2{
    font-family : 'Lucida Sans Unicode',Arial;
    color: #33CCFF;
    font-size: 25px;
}

.text3{
    font-family : 'Lucida Sans Unicode',Arial;
    font-size: 25px;
}

.text4{
    font-family : font-family :'Indie Flower', cursive ;
    font-size: 33px;
}

.darkred{
    background-color:#33CCFF;
}

.img1-bg{
    background-image:url('image.jpg')
}

.bg{
    background-image:url('image7.jpg');
    height: 325px;
}
